.slider-nav {
    background-color: $dark-grey;
    height: 69px;
    width: 100%;
    overflow: hidden;
    position: relative;
    z-index: 0;

    ul {
        width: ($slider-li-width * 4) + 20px;
        left: 50%;
        margin-left: -40px;
        position: absolute;
        cursor: pointer;
        height: 69px;

        li {
            display: inline-block;
            width: #{$slider-li-width}px;
            padding-top: 24px;
            text-align: center;
            vertical-align: middle;
            border: 1px soild white;
            font-size: 1.8em;
            transition: padding $transition;
            // @include transDelay(4, 2);

            &.closed {
                padding-top: 120px;
            }

            &.icon {
                font-size: 1.4em;
                padding-top: 24px;
            }
        }
    }
}
.selector {
    width: #{$slider-li-width}px;
    height: 69px;
    background-color: white;
    color: $pink;
    margin: 0 auto;
    margin-top: -69px;
    overflow: hidden;
    z-index: 4;
    pointer-events:none;
    position: relative;

    ul {
        width: 450%;

        li {
            display: inline-block;
            width: #{$slider-li-width}px;
            padding-top: 24px;
            text-align: center;
            vertical-align: middle;
            border: 1px soild white;
            font-size: 1.8em;
            transition: padding $transition;
            // transition-delay: $delay*4;

            &.closed {
                padding-top: 120px;
            }

            &.icon {
                font-size: 1.4em;
                padding-top: 24px;
            }
        }
    }
}

.slider-content {
    border-top: #{$shadow-width}px solid $dark-green;
    width: 100% * $content-count;
    height: 100%;
    padding-bottom: 133px;
    box-sizing: border-box;
    transition: padding $transition;
    transition-delay: $delay*6;

    &.closed {
        padding-left: 400px;
    }

    .slidee {
        display: inline-block;
        width: 99% / ($content-count);
        // padding-top: 10px;
        padding-bottom: 12em;
        height: 100%;
        box-sizing: border-box;
        vertical-align: top;

        .module {
            border-radius: $module-radius;
            background-color: $light-green;
            margin: 1em;
            padding: 1em;
            box-sizing: border-box;

            &.plain {
                background-color: transparent;
            }
        }

        &.goals .module {
            height: 100%;
        }
    }
}

footer {
    background: white;
    color: $dark-grey;
    bottom: 0;
    position: absolute;
    width: 100%;
    font-size: 0.8em;
    height: 12em;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    border-top: #{$shadow-width}px solid $dark-green;
    transition: height $transition;
    // transition-delay: 0ms;
    z-index: 2;

    &.closed {
        height: 0;
    }

    span {
        font-family: GMed;
    }

    ul {
        transition: $transition;
        // transition-delay: $delay;
        padding: 0 1.4em;

        li {
            height: 4em;
            line-height: 4em;
            vertical-align: middle;
            border-bottom: 1px solid $light-grey;
            transition: margin-left $transition;

            @include transDelay(3, 4);

            &.closed {
                margin-left: -100%;
    
            }

            &:after {
                @extend .icon;
                content: 'r';
                color: $light-grey;
                position: absolute;
                right: .5em;
                font-size: 2.4em;
            }

            span {
                color: $pink;
                font-weight: 500;
            }

            img {
                height: 2.4em;
                width: 2.4em;
                margin-right: 1em;
                border-radius: 30px;
                vertical-align: middle;
            }
        }
    }        
}
.home[title="goals"] {
    .slidee {
        padding-bottom: 6em;
    }
    footer {
        height: 80px;
        // transition-delay: $delay;

        ul {
            margin-top: 6em;
            // transition-delay: 0ms;
        }
    }
}