section.menu {
    padding-top: 20px;
    padding-bottom: 44px;
    top: -100%;
    position: absolute;
    
    ul {
        margin: 1em;

        .icon {
            font-size: 1em;
            margin-right: 1em;
        }

        li {
            background-color: $light-green;
            border-radius: $module-radius;
            padding: .7em;
            padding-right: .4em;
            text-transform: capitalize;
            font-size: 1.1em;
            margin-bottom: .7em;

            &.current {
                background-color: white;
                color: $pink;
                font-family: GMed;

                .arrow {
                    color: $light-grey
                }
            }

            .arrow {
                margin-right: 0;
                color: $dark-green;
                float: right;
                text-transform: lowercase;
                font-size: 1.5em;
            }
        }
    }
}