@import 'reset';

@mixin gradient($from, $to, $dist) {
	background-image: -o-linear-gradient(-90deg, $from 0%, $to $dist);
	background-image: -moz-linear-gradient(-90deg, $from 0%, $to $dist);
	background-image: -webkit-linear-gradient(-90deg, $from 0%, $to $dist);
	background-image: -ms-linear-gradient(-90deg, $from 0%, $to $dist);
	background-image: linear-gradient(-180deg, $from 0%, $to $dist);
}

$green: #00BD76;
$pink: #FF4A98;
$dark-green: #00A869;
$dark-grey: #2D2D2D;
$light-grey: #DDDDDD;
$shadow-width: 3;
$slider-li-width: 75;
$content-count: 4;
$light-green: #51CA8C;

.icon {
    font-family: 'icomoon';
    font-size: 2em;
    vertical-align: middle;
}
h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
    font-weight: 100;
}

html {
    overflow: hidden;
}
body {
    background-color: $green;
    overflow: hidden;
    color: white;
    font: 100 16px/20px "Gotham Rounded", sans-serif;
}
nav {
    width: 100%;
    height: 44px;
    padding: 8px;
    box-sizing: border-box;
    position: relative;

    a#menu {
        display: inline-block;
    }
    h1 {
        text-align: center;
        margin-top: -1em;
        text-transform: uppercase;
        font-weight: 500;
        font-size: 1em;
    }
}



.slider-nav {
    background-color: $dark-grey;
    height: 69px;
    width: 100%;
    overflow: hidden;
    position: relative;
    z-index: 0;
    border-bottom: #{$shadow-width}px solid $dark-green;

    &:after{
        content: '';
        width: 0px;
        height: 0px;
        border-style: solid;
        border-width: 10px 9px 0 9px;
        border-color: blue transparent transparent transparent;
        top: 69px;
    }

    ul {
        width: ($slider-li-width * 4) + 20px;
        left: 50%;
        margin-left: -40px;
        position: absolute;
        cursor: pointer;
        height: 69px;

        li {
            display: inline-block;
            width: #{$slider-li-width}px;
            padding-top: 24px;
            text-align: center;
            vertical-align: middle;
            border: 1px soild white;
            font-size: 1.8em;

            &.icon {
                font-size: 1.4em;
                padding-top: 24px;
            }
        }
    }
}
.selector {
    width: #{$slider-li-width}px;
    height: 69px;
    background-color: white;
    color: $pink;
    margin: 0 auto;
    margin-top: -#{69 + $shadow-width}px;
    overflow: hidden;
    z-index: 4;
    pointer-events:none;
    position: relative;

    ul {
        width: 450%;

        li {
            display: inline-block;
            width: #{$slider-li-width}px;
            padding-top: 24px;
            text-align: center;
            vertical-align: middle;
            border: 1px soild white;
            font-size: 1.8em;

            &.icon {
                font-size: 1.4em;
                padding-top: 24px;
            }
        }
    }
}

.slider-content {
    width: 100% * $content-count;

    .slidee {
        display: inline-block;
        width: 99% / ($content-count);
        padding-top: 10px;

        .module {
            border-radius: 10px;
            background-color: $light-green;
            margin: 10px;
            padding: 10px;
        }
    }
}

footer {
    background: white;
    color: $dark-grey;
    bottom: 0;
    position: absolute;
    width: 100%;
    font-size: 0.8em;
    height: 12em;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    border-top: #{$shadow-width}px solid $dark-green;

    ul {
        padding: 0 1.4em;

        li {
            height: 4em;
            line-height: 4em;
            vertical-align: middle;
            border-bottom: 1px solid $light-grey;

            &:after {
                @extend .icon;
                content: 'r';
                color: $light-grey;
                position: absolute;
                right: .5em;
                font-size: 2.4em;
            }

            span {
                color: $pink;
                font-weight: 500;
            }

            img {
                height: 2.4em;
                width: 2.4em;
                margin-right: 1em;
                border-radius: 30px;
                vertical-align: middle;
            }
        }
    }
}