<script type="text/template" id="homeTpl">
    <div class="slider-nav">
        <div id="navWrapper">
            <div class="handle">
                <li class="icon">h</li>    
                <li class="closed">1</li>
                <li class="closed">2</li>
                <li class="closed">3</li>
            </div>
        </div>
    </div>
    <div class="selector">
        <ul>
            <li class="icon closed">h</li>    
            <li class="closed">1</li>
            <li class="closed">2</li>
            <li class="closed">3</li>
        </ul>
    </div>
    <div class="slider-content closed">
        <div id="contentWrapper">
            <div class="handle">
                <div class="slidee home">
                    <div class="centered plain module">
                        <p>Hey {{user.name.first}}!</p>
                    </div>
                    <div class="module"><p>Home 2</p></div>
                </div>
                <div v-component="card" class="slidee goals slideeClosed" v-ref="cardref" v-repeat="goals">
                </div>
            </div>
        </div>
    </div>
    <footer class="closed">
        <ul id="tab">
            <li id="done" v-on="click:this.$.cardref[this.currentGoal].complete()"><div class="icon">t</div><label>Done</label></li>
            <li id="skip" v-on="click:this.$.cardref[this.currentGoal].skip()"><div class="icon">s</div><label>Skip</label></li>
            <li id="info"><div class="icon">i</div><label>More Info</label></li>
            <li id="comment"><div class="icon">c</div><label>Comment</label></li>
        </ul>
        <ul id="news">
            <li class="closed"><img src="build/img/news/Sam.jpg" /><span>Sam</span> wrote a new blog post</li>
            <li class="closed"><img src="build/img/news/Sam.jpg" />New Instagram by <span>Callum</span></li>
            <li class="closed"><img src="build/img/news/Sam.jpg" /><span>Sam</span> wrote a new blog post</li>
            <li class="closed"><img src="build/img/news/Sam.jpg" />New Instagram by <span>Callum</span></li>
            <li class="closed"><img src="build/img/news/Sam.jpg" /><span>Sam</span> wrote a new blog post</li>
            <li class="closed"><img src="build/img/news/Sam.jpg" />New Instagram by <span>Callum</span></li>
        </ul>
    </footer>
</script>

<script type="text/template" id="cardTpl">
    <div v-transition v-if="!completed" class="module" v-class="goalClosed:currentGoal != $index">
        <div class="vcentered">
            <p>{{verb | capitalize}}</p>
            <div class="subject capitalize">{{subject}}</div>
            <p>{{timeframe | capitalize}}</p>
        </div>
        <ul>
            <li v-repeat="ticks" class="icon" v-class="done: $value">t</li>
        </ul>
    </div>
    <div v-if="completed" v-component="congrats" v-with="index:$index" class="module plain">
    </div>
</script>
<script type="text/template" id="congratsTpl">
    <div class="subject capitalize vcentered"><span class="icon">{{icon}}</span>{{msg}}</div>
</script>