<script type="text/template" id="homeTpl">
    <div class="slider-nav">
        <div id="navWrapper">
            <div class="handle">
                <li class="icon">h</li>    
                <li class="closed">1</li>
                <li class="closed">2</li>
                <li class="closed">3</li>
            </div>
        </div>
    </div>
    <div class="selector">
        <ul>
            <li class="icon closed">h</li>    
            <li class="closed">1</li>
            <li class="closed">2</li>
            <li class="closed">3</li>
        </ul>
    </div>
    <div class="slider-content closed">
        <div id="contentWrapper">
            <div class="handle">
                <div class="slidee home">
                    <div class="centered plain module">
                        <p>Hey {{user.name.first}}!</p>
                    </div>
                    <div class="module"><p>Home 2</p></div>
                </div>
                <div v-component="card" class="slidee goals slideeClosed" v-ref="cardref" v-repeat="goals" v-class="flipped:flipped">
                </div>
            </div>
        </div>
    </div>
    <footer class="closed">
        <ul id="tab">
            <li v-ref="tabDone" v-component="tab-done" id="done" v-on="click:click"></li>
            <li v-ref="tabSkip" v-component="tab-skip" id="skip" v-on="click:click"></li>
            <li v-ref="tabInfo" v-component="tab-info" id="info" v-on="click:click"></li>
            <li v-ref="tabComment" v-component="tab-comment" id="comment" v-on="click:click"></li>
        </ul>
        <div v-component="skipper" v-if="skipping"></div>
        <ul id="news">
            <li class="closed"><img src="build/img/news/sam.jpg" /><span>Sam</span> wrote a new blog post</li>
            <li class="closed"><img src="build/img/news/sam.jpg" />New Instagram by <span>Callum</span></li>
            <li class="closed"><img src="build/img/news/sam.jpg" /><span>Sam</span> wrote a new blog post</li>
            <li class="closed"><img src="build/img/news/sam.jpg" />New Instagram by <span>Callum</span></li>
            <li class="closed"><img src="build/img/news/sam.jpg" /><span>Sam</span> wrote a new blog post</li>
            <li class="closed"><img src="build/img/news/sam.jpg" />New Instagram by <span>Callum</span></li>
        </ul>
    </footer>
</script>

<script type="text/template" id="cardTpl">
    <div v-transition v-if="!completed" class="module" v-class="goalClosed:currentGoal != $index">
        <div class="goalMain vcentered">
            <p>{{verb | capitalize}}</p>
            <div class="subject capitalize">{{subject}}</div>
            <p>{{timeframe | capitalize}}</p>
            <div class="goalInfo" v-if="flipped" v-transition v-html="info"></div>
        </div>
        
        <ul>
            <li v-repeat="ticks" class="icon" v-class="done: $value">t</li>
        </ul>
    </div>
    <div v-if="completed" v-component="congrats" v-with="index:$index" class="module plain">
    </div>
</script>
<script type="text/template" id="congratsTpl">
    <div class="subject capitalize vcentered"><span class="icon">{{icon}}</span>{{msg}}</div>
</script>
<script type="text/template" id="skipTpl">
    <ul id="skipper" v-transition>
        <li v-on="click:skip">Don't like this goal</li>
        <li v-on="click:skip">Don't like this food</li>
        <!-- <li>Cancel</li> -->
    </ul>
</script>
<script type="text/template" id="tabTpl">
    <div class="icon">{{icon}}</div><label v-class="cancel:text=='cancel'">{{text}}</label>
</script>